In [1]:
import pandas

In [2]:
import fastparquet

In [3]:
df = pandas.read_excel("ages.xlsx")

In [4]:
df

   id  name  age
0   1  aaaa   10
1   2  bbbb   11
2   3  cccc   12
3   4  dddd   13
4   5  eeee   14
5   6  ffff   15
6   7  gggg   16
7   8   一二三   17

In [5]:
fastparquet.write("ages.parq", df)

In [6]:
fastparquet.write("ages-compressed.parq", df, compression='GZIP', file_scheme='hive')

In [7]:
pf = fastparquet.ParquetFile('ages.parq')

In [9]:
pf.to_pandas()

   id  name  age
0   1  aaaa   10
1   2  bbbb   11
2   3  cccc   12
3   4  dddd   13
4   5  eeee   14
5   6  ffff   15
6   7  gggg   16
7   8   一二三   17